<nav class="navbar navbar-expand-lg shadow-sm position-relative {{ is_granted('ROLE_ADMIN') ? 'navbar-admin' : 'navbar-default' }}">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ path('app_home') }}">
            JUDO CLUB
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">

            <ul class="navbar-nav position-absolute start-50 translate-middle-x">

                {% if is_granted('ROLE_MEMBER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_dashboard') }}">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_training_session_index') }}">Entraînements</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_fight_index') }}">Combats</a>
                    </li>
                {% endif %}

            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="btn btn-light">
                            Déconnexion
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-light">
                            Connexion
                        </a>
                    {% endif %}
                </li>
            </ul>

        </div>
    </div>
</nav>