{% extends 'base.html.twig' %}

{% block title %}Liste des combats{% endblock %}

{% block body %}
    <h1>Liste des combats</h1>

    <p class="text-muted">
        Suivi des combats et des résultats.
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Activité</th>
                <th>Date</th>
                <th>Combattant 1</th>
                <th>Combattant 2</th>
                <th>Résultat</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
        {% for fight in fights %}
            <tr>
                <td>{{ fight.activity.name }}</td>

                <td>
                    {{ fight.date ? fight.date|date('d/m/Y H:i') : '' }}
                </td>

                <td>
                    {{ fight.opponent1.firstName }} {{ fight.opponent1.lastName }}
                </td>

                <td>
                    {{ fight.opponent2.firstName }} {{ fight.opponent2.lastName }}
                </td>

                <td>
                    {% if fight.result.value == 'pending' %}
                        <span class="badge bg-secondary">En attente</span>

                    {% elseif fight.result.value == 'opponent1' %}
                        <span class="badge bg-success">
                            Victoire de {{ fight.opponent1.firstName }} {{ fight.opponent1.lastName }}
                        </span>

                    {% elseif fight.result.value == 'opponent2' %}
                        <span class="badge bg-danger">
                            Victoire de {{ fight.opponent2.firstName }} {{ fight.opponent2.lastName }}
                        </span>

                    {% elseif fight.result.value == 'draw' %}
                        <span class="badge bg-warning text-dark">
                            Égalité
                        </span>
                    {% endif %}
                </td>

                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_fight_edit', {'id': fight.id}) }}">
                        modifier
                    </a>
                </td>
                {% endif %}

            </tr>

        {% else %}
            <tr>
                <td colspan="6">Aucun combat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}   
        <a href="{{ path('app_fight_new') }}">
            Créer un combat
        </a>
    {% endif %}

{% endblock %}