{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
    <h1>Liste des membres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Rôles</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}   
        <a href="{{ path('app_user_new') }}">Create new</a>
    {% endif %}
{% endblock %}
